.main {
    margin-top: 4rem; 
}
.formBody {
    margin-left: 20%;
    margin-right: 20%;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid black;
}

#sticky-footer {
    flex-shrink: none;
    margin-top: 4rem;
}

.isFlex:hover {
    display: flex;
    animation-name: running;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}

@keyframes running {
    0% {margin-left: 0rem;}
    20% {opacity: 0;}
    100% {
        justify-content: flex-end;
        opacity: 0;
    }
  }
  